.wraper {
  margin: 0;
  background: url('../public/images/bg-stars.svg'),linear-gradient(hsl(240, 14%, 13%), hsl(272, 21%, 13%));
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  margin-bottom: 6vh;
  text-align: center;
  width: 80vw;
  line-height: 1.6;
}

.header h1 {
  color: white;
  letter-spacing: 8px;
  font-weight: 700;
  font-size: 16px;
}

.footer {
  display: flex;
  margin-top: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}

.footerImage {
  min-width: 100vw;
}

.footerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 2em;
}

.footerRow img {
  height: 30px;
  width: 30px;
  margin: 16px;
}

.footerRow img:hover {
  filter: brightness(0) saturate(100%) invert(50%) sepia(56%) saturate(1404%) hue-rotate(310deg) brightness(100%) contrast(97%);
  cursor: pointer;
}

@media only screen and (min-width: 768px) {

  .header {
    margin-bottom: 10vh;
    width: auto;
  }

  .footerRow img {
    height: 20px;
    width: 20px;
    margin: 12px;
  }

}